@font-face {
    font-family: 'Chicago';
    src: url('ChicagoFLF.ttf') format('woff');
}

.flex-container {
    display: flex;
    flex-flow: row wrap;

    justify-content: space-around;

    padding: 0;
    margin: 0;
    list-style: none;
}

.flex-item {
    text-align: left;
}

